{% extends 'base.html' %}

{% block container %}
  <main class="container mt-3">
    <h1 class="display-5 mt-4">Летим {{ departures }}</h1>
    <p class="mb-4">Найдено {{ tours_amount }} туров, от {{ min_price_tour }} до {{ max_price_tour }} и от {{ min_nights_tour }} ночей до
      {{ max_nights_tour }} ночей</p>
    <!-- CARDS -->
    <div class="row mt-5">
      <div class="col-4">
        <div class="card mb-4">
          <img src="{{ tour1.picture }}" class="card-img-top img-fluid" alt="">
          <div class="card-body">
            <h2 class="h5 card-title">{{ tour1.title }}</h2>
            <p class="card-text">{{ tour1.description }}</p>
            <a href="/tour/{{ addr1 }}" class="btn btn-sm btn-primary">Подробнее</a>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card mb-4">
          <img src="{{ tour2.picture }}" class="card-img-top img-fluid" alt="">
          <div class="card-body">
            <h2 class="h5 card-title">{{ tour2.title }}</h2>
            <p class="card-text">{{ tour2.description }}</p>
            <a href="/tour/{{ addr2 }}" class="btn btn-sm btn-primary">Подробнее</a>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card mb-4">
          <img src="{{ tour3.picture }}" class="card-img-top img-fluid" alt="">
          <div class="card-body">
            <h2 class="h5 card-title">{{ tour3.title }}</h2>
            <p class="card-text">{{ tour3.description }}</p>
            <a href="/tour/{{ addr3 }}" class="btn btn-sm btn-primary">Подробнее</a>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card mb-4">
          <img src="{{ tour4.picture }}" class="card-img-top img-fluid" alt="">
          <div class="card-body">
            <h2 class="h5 card-title">{{ tour4.title }}</h2>
            <p class="card-text">{{ tour4.description }}</p>
            <a href="/tour/{{ addr4 }}" class="btn btn-sm btn-primary">Подробнее</a>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card mb-4">
          <img src="{{ tour5.picture }}" class="card-img-top img-fluid" alt="">
          <div class="card-body">
            <h2 class="h5 card-title">{{ tour5.title }}</h2>
            <p class="card-text">{{ tour5.description }}</p>
            <a href="/tour/{{ addr5 }}" class="btn btn-sm btn-primary">Подробнее</a>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card mb-4">
          <img src="{{ tour6.picture }}" class="card-img-top img-fluid" alt="">
          <div class="card-body">
            <h2 class="h5 card-title">{{ tour6.title }}</h2>
            <p class="card-text">{{ tour6.description }}</p>
            <a href="/tour/{{ addr6 }}" class="btn btn-sm btn-primary">Подробнее</a>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}