{% extends 'base.html' %}

{% block container %}
  <main class="container mt-3">
    <!-- HERO -->
    <section class="jumbotron text-center mt-4" style="background: url('https://img.freepik.com/premium-photo/tropical-nature-clean-beach-and-white-sand-in-summer-with-sun-light-blue-sky-and-bokeh-background_176697-577.jpg?w=1480'); background-position: center center">
      <h1 class="display-4">Всякие туры</h1>
      <p class="lead">{{ subtitle }}</p>
      <p class="mt-5 w-50 mx-auto">{{ description }}</p>
    </section>
    <!-- CARDS -->
    <div class="row mt-5">
      <div class="col-4">
        <div class="card mb-4">
          <div class="embed-responsive embed-responsive-16by9">
             <img class="card-img-top embed-responsive-item" src="{{ tour1.picture }}" alt="" />
          </div>          
          <div class="card-body">
            <h2 class="h5 card-title">{{ tour1.title }}</h2>
            <p class="card-text">{{ tour1.description }}</p>
            <a href="/tour/{{ addr1 }}" class="btn btn-sm btn-primary">Подробнее</a>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card mb-4">
          <div class="embed-responsive embed-responsive-16by9">
             <img class="card-img-top embed-responsive-item" src="{{ tour2.picture }}" alt="" />
          </div>          
          <div class="card-body">
            <h2 class="h5 card-title">{{ tour2.title }}</h2>
            <p class="card-text">{{ tour2.description }}</p>
            <a href="/tour/{{ addr2 }}" class="btn btn-sm btn-primary">Подробнее</a>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card mb-4">
          <div class="embed-responsive embed-responsive-16by9">
             <img class="card-img-top embed-responsive-item" src="{{ tour3.picture }}" alt="" />
          </div>          
          <div class="card-body">
            <h2 class="h5 card-title">{{ tour3.title }}</h2>
            <p class="card-text">{{ tour3.description }}</p>
            <a href="/tour/{{ addr3 }}" class="btn btn-sm btn-primary">Подробнее</a>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card mb-4">
          <div class="embed-responsive embed-responsive-16by9">
             <img class="card-img-top embed-responsive-item" src="{{ tour4.picture }}" alt="" />
          </div>          
          <div class="card-body">
            <h2 class="h5 card-title">{{ tour4.title }}</h2>
            <p class="card-text">{{ tour4.description }}</p>
            <a href="/tour/{{ addr4 }}" class="btn btn-sm btn-primary">Подробнее</a>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card mb-4">
          <div class="embed-responsive embed-responsive-16by9">
             <img class="card-img-top embed-responsive-item" src="{{ tour5.picture }}" alt="" />
          </div>          
          <div class="card-body">
            <h2 class="h5 card-title">{{ tour5.title }}</h2>
            <p class="card-text">{{ tour5.description }}</p>
            <a href="/tour/{{ addr5 }}" class="btn btn-sm btn-primary">Подробнее</a>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card mb-4">
          <div class="embed-responsive embed-responsive-16by9">
             <img class="card-img-top embed-responsive-item" src="{{ tour6.picture }}" alt="" />
          </div>          
          <div class="card-body">
            <h2 class="h5 card-title">{{ tour6.title }}</h2>
            <p class="card-text">{{ tour6.description }}</p>
            <a href="/tour/{{ addr6 }}" class="btn btn-sm btn-primary">Подробнее</a>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}